.Allheader{
padding-top: 60px;
background-color: #5CDB95;
}
#header {
padding-right: 15px;
}
#header>p {
  color: #EDF5E1;
}


body{
margin-top: 0px;
margin-right: 0px;
margin-left: 0px;
background: #fef7f6;

}

div {
   text-align: center;

}


#name {
margin-top: 0px;
margin-bottom: 0px;
font-size: 40px;

}
#subtitles {
font-size: 20px;
margin-top: 0px;
}

.navigation{
text-align: center;
margin-top: 35px;
padding-right: 40px;
border-bottom: 1px solid black;
}

.navigation a{
font-size: 28px;
color: #EDF5E1;
text-decoration: none;
margin-right: 20px;
}

#breadcrumb {
  background-color: #fbfbfd;
  border-bottom: 1px solid #e1fcfc;
  height: 50px;

}

#wording{
  padding-top: 17px;
  padding-right: 25px;
}





.contenido {
  margin-top: 50px;
}



.picture1{
  background-color: #fff;
  border-radius: 2em;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 0;
  width: 700px;
  height: 550px;
}

.picture1 img{
  display: block;
  position: absolute;
  min-width: 100%;
  width: 500px;
}

.picture1 h1 {
  display: block;
  position: absolute;
  top: 400px;
  left: 75px;
  font-family: sans-serif;
}

.picture1 p {
  display: block;
  position: absolute;
  top: 470px;
  left: 50px;
  margin: 16px;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #9e9e61;
}

#KyonggiFood {
  color:#C5C6C7;
  top: 500px;
  left: 553px;
}

#House {
  padding-top: 30px;
}
